*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/King_of_the_Hill/nbproject/private/
/King_of_the_Hill/build/
/King_of_the_Hill/dist/
King_of_the_Hill/gamesettings.properties
*.properties
King_of_the_Hill/gamesettings.properties
King_of_the_Hill/gamesettings.properties
*.png