/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

#pane {
    -fx-background-image: url("gameviewbackground.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 100%;
}

#button-small {
    -fx-background-image: url("button-small.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 100%;
}

#button-small:hover {
    -fx-background-image: url("button-small-hover.png");
}

#button-small:pressed {
    -fx-background-image: url("button-small-pressed.png");
}