/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

#pane {
    -fx-background-image: url("mainmenubackground.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 100%;
}

#button {
    -fx-background-image: url("button.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-background-size: 100%;
}

#button:hover {
    -fx-background-image: url("button-hover.png");
}

#button:pressed {
    -fx-background-image: url("button-pressed.png");
}